In [1]:
# SVM Classification
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.preprocessing import StandardScaler

from sklearn import svm
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report


from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.model_selection import train_test_split, cross_val_score

In [2]:
df=pd.read_csv("C:/Users/srina/Desktop/csv files/forestfires.csv")
df

,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,...,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep,size_category
0,mar,fri,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,...,0,0,0,0,1,0,0,0,0,small
1,oct,tue,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,...,0,0,0,0,0,0,0,1,0,small
2,oct,sat,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,...,0,0,0,0,0,0,0,1,0,small
3,mar,fri,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,...,0,0,0,0,1,0,0,0,0,small
4,mar,sun,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,...,0,0,0,0,1,0,0,0,0,small
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,aug,sun,81.6,56.7,665.6,1.9,27.8,32,2.7,0.0,...,0,0,0,0,0,0,0,0,0,large
513,aug,sun,81.6,56.7,665.6,1.9,21.9,71,5.8,0.0,...,0,0,0,0,0,0,0,0,0,large
514,aug,sun,81.6,56.7,665.6,1.9,21.2,70,6.7,0.0,...,0,0,0,0,0,0,0,0,0,large
515,aug,sat,94.4,146.0,614.7,11.3,25.6,42,4.0,0.0,...,0,0,0,0,0,0,0,0,0,small
516,nov,tue,79.5,3.0,106.7,1.1,11.8,31,4.5,0.0,...,0,0,0,0,0,0,1,0,0,small

In [3]:
df=df.drop('month',axis=1)

In [4]:
df=df.drop('day',axis=1)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517 entries, 0 to 516
Data columns (total 29 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   FFMC           517 non-null    float64
 1   DMC            517 non-null    float64
 2   DC             517 non-null    float64
 3   ISI            517 non-null    float64
 4   temp           517 non-null    float64
 5   RH             517 non-null    int64
 6   wind           517 non-null    float64
 7   rain           517 non-null    float64
 8   area           517 non-null    float64
 9   dayfri         517 non-null    int64
 10  daymon         517 non-null    int64
 11  daysat         517 non-null    int64
 12  daysun         517 non-null    int64
 13  daythu         517 non-null    int64
 14  daytue         517 non-null    int64
 15  daywed         517 non-null    int64
 16  monthapr       517 non-null    int64
 17  monthaug       517 non-null    int64
 18  monthdec       517 non-null    int64
 19  monthfeb       517 non-null    int64
 20  monthjan       517 non-null    int64
 21  monthjul       517 non-null    int64
 22  monthjun       517 non-null    int64
 23  monthmar       517 non-null    int64
 24  monthmay       517 non-null    int64
 25  monthnov       517 non-null    int64
 26  monthoct       517 non-null    int64
 27  monthsep       517 non-null    int64
 28  size_category  517 non-null    object
dtypes: float64(8), int64(20), object(1)
memory usage: 117.3+ KB

In [6]:
#Creating dummy vairables for ['size_category'] 
df=pd.get_dummies(df,columns=['size_category'])
df

,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,dayfri,...,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep,size_category_large,size_category_small
0,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,0.00,1,...,0,0,0,1,0,0,0,0,0,1
1,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,0.00,0,...,0,0,0,0,0,0,1,0,0,1
2,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,0.00,0,...,0,0,0,0,0,0,1,0,0,1
3,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,0.00,1,...,0,0,0,1,0,0,0,0,0,1
4,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,0.00,0,...,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,81.6,56.7,665.6,1.9,27.8,32,2.7,0.0,6.44,0,...,0,0,0,0,0,0,0,0,1,0
513,81.6,56.7,665.6,1.9,21.9,71,5.8,0.0,54.29,0,...,0,0,0,0,0,0,0,0,1,0
514,81.6,56.7,665.6,1.9,21.2,70,6.7,0.0,11.16,0,...,0,0,0,0,0,0,0,0,1,0
515,94.4,146.0,614.7,11.3,25.6,42,4.0,0.0,0.00,0,...,0,0,0,0,0,0,0,0,0,1
516,79.5,3.0,106.7,1.1,11.8,31,4.5,0.0,0.00,0,...,0,0,0,0,0,1,0,0,0,1

In [7]:
df[df.duplicated()]

,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,dayfri,...,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep,size_category_large,size_category_small
53,92.1,111.2,654.1,9.6,20.4,42,4.9,0.0,0.00,0,...,0,0,0,0,0,0,0,0,0,1
100,91.4,142.4,601.4,10.6,19.8,39,5.4,0.0,0.00,0,...,0,0,0,0,0,0,0,0,0,1
215,91.7,35.8,80.8,7.8,17.0,27,4.9,0.0,28.66,0,...,0,0,0,1,0,0,0,0,1,0
303,91.1,94.1,232.1,7.1,19.2,38,4.5,0.0,0.00,1,...,0,0,1,0,0,0,0,0,0,1
426,91.6,248.4,753.8,6.3,20.4,56,2.2,0.0,0.00,0,...,0,0,0,0,0,0,0,0,0,1
461,93.7,231.1,715.1,8.4,18.9,64,4.9,0.0,0.00,0,...,0,0,0,0,0,0,0,0,0,1
501,96.1,181.1,671.2,14.3,21.6,65,4.9,0.8,0.00,0,...,0,0,0,0,0,0,0,0,0,1
508,91.0,166.9,752.6,7.1,25.9,41,3.6,0.0,0.00,1,...,0,0,0,0,0,0,0,0,0,1

In [8]:
data=df.drop_duplicates()

In [9]:
data

,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,dayfri,...,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep,size_category_large,size_category_small
0,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,0.00,1,...,0,0,0,1,0,0,0,0,0,1
1,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,0.00,0,...,0,0,0,0,0,0,1,0,0,1
2,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,0.00,0,...,0,0,0,0,0,0,1,0,0,1
3,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,0.00,1,...,0,0,0,1,0,0,0,0,0,1
4,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,0.00,0,...,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,81.6,56.7,665.6,1.9,27.8,32,2.7,0.0,6.44,0,...,0,0,0,0,0,0,0,0,1,0
513,81.6,56.7,665.6,1.9,21.9,71,5.8,0.0,54.29,0,...,0,0,0,0,0,0,0,0,1,0
514,81.6,56.7,665.6,1.9,21.2,70,6.7,0.0,11.16,0,...,0,0,0,0,0,0,0,0,1,0
515,94.4,146.0,614.7,11.3,25.6,42,4.0,0.0,0.00,0,...,0,0,0,0,0,0,0,0,0,1
516,79.5,3.0,106.7,1.1,11.8,31,4.5,0.0,0.00,0,...,0,0,0,0,0,1,0,0,0,1

In [10]:
data.isnull().sum()

FFMC                   0
DMC                    0
DC                     0
ISI                    0
temp                   0
RH                     0
wind                   0
rain                   0
area                   0
dayfri                 0
daymon                 0
daysat                 0
daysun                 0
daythu                 0
daytue                 0
daywed                 0
monthapr               0
monthaug               0
monthdec               0
monthfeb               0
monthjan               0
monthjul               0
monthjun               0
monthmar               0
monthmay               0
monthnov               0
monthoct               0
monthsep               0
size_category_large    0
size_category_small    0
dtype: int64

In [11]:
#for calculating multicolinearity problem
from statsmodels.stats.outliers_influence import variance_inflation_factor

def calc_vif(X):

    # Calculating VIF
    vif = pd.DataFrame()
    vif["variables"] = X.columns
    vif["VIF"] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]

    return(vif)

In [12]:
X = data.iloc[:,:28]
calc_vif(X)

E:\anaconda\lib\site-packages\statsmodels\stats\outliers_influence.py:193: RuntimeWarning: divide by zero encountered in double_scalars
  vif = 1. / (1. - r_squared_i)

   variables        VIF
0       FFMC   2.282352
1        DMC   3.834974
2         DC  26.498420
3        ISI   1.827186
4       temp   4.546527
5         RH   2.784723
6       wind   1.279349
7       rain   1.081112
8       area   1.041439
9     dayfri        inf
10    daymon        inf
11    daysat        inf
12    daysun        inf
13    daythu        inf
14    daytue        inf
15    daywed        inf
16  monthapr        inf
17  monthaug        inf
18  monthdec        inf
19  monthfeb        inf
20  monthjan        inf
21  monthjul        inf
22  monthjun        inf
23  monthmar        inf
24  monthmay        inf
25  monthnov        inf
26  monthoct        inf
27  monthsep        inf

In [13]:
data=data.drop('DC',axis=1)

In [14]:
data

,FFMC,DMC,ISI,temp,RH,wind,rain,area,dayfri,daymon,...,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep,size_category_large,size_category_small
0,86.2,26.2,5.1,8.2,51,6.7,0.0,0.00,1,0,...,0,0,0,1,0,0,0,0,0,1
1,90.6,35.4,6.7,18.0,33,0.9,0.0,0.00,0,0,...,0,0,0,0,0,0,1,0,0,1
2,90.6,43.7,6.7,14.6,33,1.3,0.0,0.00,0,0,...,0,0,0,0,0,0,1,0,0,1
3,91.7,33.3,9.0,8.3,97,4.0,0.2,0.00,1,0,...,0,0,0,1,0,0,0,0,0,1
4,89.3,51.3,9.6,11.4,99,1.8,0.0,0.00,0,0,...,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,81.6,56.7,1.9,27.8,32,2.7,0.0,6.44,0,0,...,0,0,0,0,0,0,0,0,1,0
513,81.6,56.7,1.9,21.9,71,5.8,0.0,54.29,0,0,...,0,0,0,0,0,0,0,0,1,0
514,81.6,56.7,1.9,21.2,70,6.7,0.0,11.16,0,0,...,0,0,0,0,0,0,0,0,1,0
515,94.4,146.0,11.3,25.6,42,4.0,0.0,0.00,0,0,...,0,0,0,0,0,0,0,0,0,1
516,79.5,3.0,1.1,11.8,31,4.5,0.0,0.00,0,0,...,0,0,0,0,0,1,0,0,0,1

In [15]:
X = data.iloc[:,:27]
Y = data.iloc[:,27]

In [16]:
X

,FFMC,DMC,ISI,temp,RH,wind,rain,area,dayfri,daymon,...,monthdec,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep
0,86.2,26.2,5.1,8.2,51,6.7,0.0,0.00,1,0,...,0,0,0,0,0,1,0,0,0,0
1,90.6,35.4,6.7,18.0,33,0.9,0.0,0.00,0,0,...,0,0,0,0,0,0,0,0,1,0
2,90.6,43.7,6.7,14.6,33,1.3,0.0,0.00,0,0,...,0,0,0,0,0,0,0,0,1,0
3,91.7,33.3,9.0,8.3,97,4.0,0.2,0.00,1,0,...,0,0,0,0,0,1,0,0,0,0
4,89.3,51.3,9.6,11.4,99,1.8,0.0,0.00,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,81.6,56.7,1.9,27.8,32,2.7,0.0,6.44,0,0,...,0,0,0,0,0,0,0,0,0,0
513,81.6,56.7,1.9,21.9,71,5.8,0.0,54.29,0,0,...,0,0,0,0,0,0,0,0,0,0
514,81.6,56.7,1.9,21.2,70,6.7,0.0,11.16,0,0,...,0,0,0,0,0,0,0,0,0,0
515,94.4,146.0,11.3,25.6,42,4.0,0.0,0.00,0,0,...,0,0,0,0,0,0,0,0,0,0
516,79.5,3.0,1.1,11.8,31,4.5,0.0,0.00,0,0,...,0,0,0,0,0,0,0,1,0,0

In [17]:
Y

0      0
1      0
2      0
3      0
4      0
      ..
512    1
513    1
514    1
515    0
516    0
Name: size_category_large, Length: 509, dtype: uint8

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size = 0.3)

In [19]:
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((356, 27), (356,), (153, 27), (153,))

In [20]:
#Grid search
clf = SVC()
param_grid = [{'kernel':['rbf'],'gamma':[50,5,10,0.5],'C':[15,14,13,12,11,10,0.1,0.001] }]
gsv = GridSearchCV(clf,param_grid,cv=10)
gsv.fit(X_train,y_train)

GridSearchCV(cv=10, estimator=SVC(),
             param_grid=[{'C': [15, 14, 13, 12, 11, 10, 0.1, 0.001],
                          'gamma': [50, 5, 10, 0.5], 'kernel': ['rbf']}])

In [21]:
gsv.best_params_ , gsv.best_score_

({'C': 15, 'gamma': 0.5, 'kernel': 'rbf'}, 0.7444444444444445)

In [22]:
clf = SVC(C= 15, gamma = 50)
clf.fit(X_train , y_train)
y_pred = clf.predict(X_test)
acc = accuracy_score(y_test, y_pred) * 100
print("Accuracy =", acc)
confusion_matrix(y_test, y_pred)

Accuracy = 70.58823529411765

array([[108,   0],
       [ 45,   0]], dtype=int64)

In [23]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.71      1.00      0.83       108
           1       0.00      0.00      0.00        45

    accuracy                           0.71       153
   macro avg       0.35      0.50      0.41       153
weighted avg       0.50      0.71      0.58       153

E:\anaconda\lib\site-packages\sklearn\metrics\_classification.py:1221: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

## finding Accuracy with different kernels

In [24]:
#kernel= linear
model_linear = SVC(kernel = "linear")
model_linear.fit(X_train,y_train)
pred_test_linear = model_linear.predict(X_test)

np.mean(pred_test_linear==y_test)

0.9869281045751634

In [25]:
# Kernel = poly
model_poly = SVC(kernel = "poly")
model_poly.fit(X_train,y_train)
pred_test_poly = model_poly.predict(X_test)

np.mean(pred_test_poly==y_test)

0.8300653594771242

In [26]:
# kernel = rbf
model_rbf = SVC(kernel = "rbf")
model_rbf.fit(X_train,y_train)
pred_test_rbf = model_rbf.predict(X_test)

np.mean(pred_test_rbf==y_test)

0.8431372549019608